<h1>About Us</h1>

<h4>"One Love. Bikes!" No mountain too steep, no descent too fast,
no track too dirty - work, ride, sleep and do the same the next day.
</h4>

<div class="index-pic">
  <%= image_tag("bikes/rider.jpg", class: "img-responsive my-image", width:'100%') %>
</div>

<h4> We offer expert advice and a mighty selection of brands in almost any category you or your bike
     might need: road bike shoes, bicycle helmets, bike jerseys, cycling gloves,
     bike backpacks, bike tires, cycle lights, bike trailers, and many more.
   </h4>
