<h1>About Us</h1>

<h4>We Love What We Do!</h4>

<div class="index-pic">
  <%= image_tag("bikes/rider.jpg", class: "img-responsive my-image", width:'100%') %>
</div>

<h4> We offer expert advice and a mighty selection of bikes and accessories.
   </h4>
