<div class="container-fluid-about">
  <div class="index-pic">
    <%= image_tag("bikes/nighttime.jpg", class: "img-responsive my-image", width: "100%") %>
  </div>
  <div class="overlay">
    <h1 class="about">About us</h1>

  </div>
  <h2>We love what we do!</h2>
</div>
