<div class="container-fluid-contact">

<h1>Reach Out</h1>

<div class="index-pic">
  <%= image_tag("bikes/riders.jpg", class: "img-responsive my-image", width:'100%') %>
</div>

<h4>Address: Cyclingstraße 1 Kleve</h4>

<h4>Phone: 0289652036</h4>
</div>
