<h1>Pushys Chain Reaction</h1>

<div class="index-pic">
  <%= image_tag("bikes/bike1.jpg", class: "img-responsive my-image", width:'100%') %>
</div>
<p>We have everything Bicycle to start your adventure today!</p>
<p>"One Love. Bikes!" No mountain too steep, no descent too fast,
no track too dirty - work, ride, sleep and do the same the next day.</p>
