<table>
  <tbody>
    <tr>
      <td><h1><%= @appname %></h1></td>
      <td><p>Hi <%= @user.id %> You have successfully placed an order with us.  Your item will be posted shortly. </p></td>
    </tr>
    <tr>
      <td><p><%= @order %></p></td>
    </tr>
    <td><p>Thank you for shopping with <%= @appname %>!</p></td>
  </tbody>
</table>
