// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.products {
  margin: 50px auto;
}
.top-buffer {
  margin-top: 20px auto;
  color: #000;
}
h2 {
  color: grey;
}

.new_product {
  margin: 20px;
  padding:10px;
}
.field {
  margin-left: 30px;
}
.actions{
  margin-left: 30px;


}
