// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
  font-family:'Permanent Marker', cursive;
  color: #D35400;
  text-align: center;
  font-size: 3rem;
  padding-top:3rem;
  padding-bottom: .5rem;
}

.links{
  margin-left: 3rem;
}

.products {
  margin: 50px auto;
}
.top-buffer {
  margin-top: 20px auto;
  color: #000;
}
h2 {
  color: grey;
}

.new_product {
  margin: 20px;
  padding:10px;
}
.field {
  margin-left: 30px;
}
.actions{
  margin-left: 30px;
}
//form
.form-group {
  width:50%;
  margin: 0 auto;
  margin-bottom: 10px;
}
.label {
  margin-top: 10px;
}
.tabs {
  margin: 0 auto;
}
#container-edit{
  text-align: center;
  margin-bottom: 50px;
}
#container-product {
  text-align: center;
  margin-bottom: 20px;
}
//sign up //

.modal-content {
  background-color: rgba(39, 55, 70, 0.7);
}
.form-group h5 {
  color: #000;
  margin: 20px auto;
}
.btn-success {
  margin-bottom: 25px;
}
.login-link a {
  color: rgb(39, 55, 70);
}
.login-link a:hover {
  color: #D35400;
}
