// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//product page
h1 {
  font-family:'Permanent Marker', cursive;
  color: #D35400;
  text-align: center;
  font-size: 3rem;
  padding-top:3rem;
  padding-bottom: .5rem;
}
.item1 {
  height: 80px;
}
.item2 {
  height:270px;
}
.description {
  margin-top: 10px;
}
.links{
  margin-left: 3rem;
}

.products {
  margin: 50px auto;
}
.top-buffer {
  margin-top: 20px auto;
  color: #000;
}
h2 {
  color: grey;
}

.new_product {
  margin: 20px;
  padding:10px;
}
.field {
  margin-left: 30px;
}
.actions{
  margin-left: 30px;
}
//form
.form-group {
  width:50%;
  margin: 0 auto;
  margin-bottom: 10px;
}
.label {
  margin-top: 10px;
}
.tabs {
  margin: 0 auto;
}
#container-edit{
  text-align: center;
  margin-bottom: 50px;
}
#container-product {
  text-align: center;
  margin-bottom: 20px;
}
//sign up //

.modal-content {
  background-color: rgba(39, 55, 70, 0.7);
}
.form-group h5 {
  color: #000;
  margin: 20px auto;
}
.btn-success {
  margin-bottom: 25px;
}
.login-link a {
  color: rgb(39, 55, 70);
}
.login-link a:hover {
  color: #D35400;
}
/* showpage*/
.container-show{
  margin:10px;
}
.container-comments {
  margin:10px;
}
.reviews {
  margin-left: 20px;
//  border-top: solid 1px #D35400;
//  border-bottom: solid 1px #D35400;
//  padding: 1rem;
}
.container-review{
  background: #F3904F;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #3B4371, #F3904F);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #3B4371, #F3904F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  h5 {
    text-align: center;
    padding: 10px;
    color: silver;
  }
}
.new-comment-btn {
  margin-top: 10px;
}

.strip-button {
  margin: 20px auto 20px 0px;
}
/*show page pagination*/
.pagination {
  display: inline-block;
  margin-left: 44%;
  min-width: 200px;
  color: #D35400;
}
